* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease;
}

body {
    background: linear-gradient(136.16deg,
            rgba(132, 203, 106, 0.97) 12.91%,
            rgba(24, 72, 47, 0.87) 87.68%);
    width: 100%;
    min-height: 100vh;
    padding: 12px 60px;
}

header {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    gap: 60px;
    left: 220px;
    margin-top: 20px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0c0c0c;
    text-decoration: none;
    position: relative;
}

.underline:after {
    content: "";
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 0px;
    position: absolute;
    background-color: #0c0c0c;
    transition: 0.3s ease;
}

.underline:hover:after {
    width: 100%;
}

.btn-link {
    padding: 10px 20px;
    border: 1px solid #0c0c0c;
    border-radius: 41px;
}

.btn-link:hover {
    opacity: 0.7;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-left {
    width: 50%;
    height: 450px;
    position: relative;
}

.container-left img {
    width: 70%;
    position: absolute;
    bottom: 40px;
    left: -50px;
    animation: moveAbobora 2s infinite alternate ease-in-out;
}

.container-left-info {
    position: absolute;
    bottom:-40px;
    left: 50px;

    padding-right: 20px;
    border-right: 1px solid #568845;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 85px;
}

.container-left-info:after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #344c2c;
    position: absolute;
    right: -6px;
    top: -8px;
}

.container-left-info p:first-child {
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
    color: #0c0c0c;
}

.container-left-info p:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0c0c0c;
}

.container-right {
    margin-top: 90px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   padding-top: 50px;

}

h2 {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #0c0c0c;
    margin-left: 50px;
}


.container-right-info p:first-child {
    font-weight: 900;
    font-size: 25px;
    line-height: 109%;
    color: #0c0c0c;
}

.container-right-info p:last-child {
    font-weight: 600;
    font-size: 14px;
    line-height: 180%;
    color: #0c0c0c;
    opacity: 0.8;
    padding: 40px;
}

.container-actions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.container-actions button {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #303056;
    background-image: url("./assets/btn-primary.svg");
    background-color: transparent;
    border: none;
    padding: 29px 43px;
    cursor: pointer;
}

.container-actions button:hover {
    opacity: 0.8;
    color:  #0c0c0c;
}

.container-actions a {
    display: flex;
    gap: 12px;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #0c0c0c;
    text-decoration: none;
}

.container-actions a:hover {
    opacity: 0.8;
}

.btn-ghost {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color:  #0c0c0c;
    display: block;
    margin: 12px auto;
    background-color: transparent;
    border: none;
    background-image: url("./assets/btn-secondary.svg");
    padding: 34px 43px;
    cursor: pointer;
}

.btn-ghost:hover {
    color: #303056;
}

@keyframes moveAbobora {
    from {
        transform: translate(-5%, -5%) rotate(15deg)
    }

    to {
        transform: translate(0, 0) rotate(-15deg);
    }
}




@media screen and (max-width:467px) {
 
    body {
        padding: 12px 24px;
        overflow-x: hidden;
        background: rgb(44, 123, 83);
    }
    
    header {
        display: flex;
        position: static;
        margin-top: -5px;
    }

    nav{
        margin-left: -45px;
        text-decoration: underline ;
    }

    .container-right {
        margin-top: -9px;
        padding-right:9px;
        margin-right: -180px;
        align-items: center;
        width: 100%;
        line-height: 70px;
    }

    .container-right-info p:first-child{
        line-height: 180%;
        padding: 0px;  
        margin-left: 40px;     
    }
    
    section{
        flex-direction: column-reverse;
    }

    p{
        margin-left: -80px;
        margin-right: -100px;
        align-items: center;
    
    }

    .container-left img{
        width: 150%;
        position: absolute;
        bottom: 106px;
        left: -50px;
    }

    .btn-ghost{
        margin: -81px 0px;
    }
   
    .container-actions button {
        margin: 0px -180px;
    }


    .container-actions a {
        flex-direction: column
    }

    h2{
        margin-right: -20px;
    }

    .container-left {
        display: flex;
        margin-top: -127px;
        margin-right: -142px;
       
    }

    .container-left-info{
       
        margin-left: 150px;
        margin-bottom: 50px;
    }





}


